@import "var";
header {
  display: flex;
  padding: 0 2rem;
  font-family: $vazir;
  font-size: 1.35rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 5rem;

  .header-right {
    width: 80%;
    display: flex;
    gap: 5rem;
  }

  .header-left {
    width: 20%;
    text-align: left;
  }

  a {
    text-decoration: none;
    color: black;
  }
}