@import "var";
header {
  display: flex;
  padding: 0 2rem;
  font-family: $vazir;
  font-size: 1.35rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 5rem;

  .header-right {
    width: 70%;
    display: flex;
    gap: 5rem;
  }

  .header-left {
    width: 30%;
    text-align: left;
  }

  a {
    text-decoration: none;
    color: black;
    &:hover {
      color: $secondry_color;
    }
  }
}

.copyright {
  @include size(padding, 1.5rem);
  font-size: 1rem;
  text-align: center;
  color: #616161;
  font-weight: normal;
  border-top: 3px solid #e9eaea;
}