@import "var";

body {
  margin: 0;
  background-color: $light_bg;
  font-family: $vazir;
}

.container {
  width: 100%;

  & section {
    background-color: white;
    width: 90%;
    margin-inline: auto;
    margin-block: 5vh;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
  }
}

.main-element {
  display: flex;
  margin: auto;
  gap: 10rem;
  font-weight: normal;

  & .main-right {
    &-pic {
      & img {
        object-fit: cover;
        width: 400px;
        height: 400px;
        border-radius: 20rem;
      }
    }
  }

  & .main-left {
    font-size: 2rem;
    text-align: center;

    & h5 {
      font-weight: normal;
      color: #616161;
    }

    .main-left-rezome {
      font-family: $vazir;
      font-size: 1rem;
      padding: 0.5rem 1rem;
      border-radius: 10px;
      background-color: $secondry_color;
      color: white;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
      cursor: pointer;
    }
  }
}

.about-me {
  h1 {
    font-size: 2.25rem;
  }

  font-size: 1.25rem;
  margin-block: 5rem;
  padding: 0 30rem;

  & span {
    color: #616161;
    line-height: 2rem;
    text-align: justify;
    text-justify: inter-word;
    word-spacing: -0.1em;
  }

}