@import "var";

@include allNeed();
.main-right-pic {
  img {
    object-fit: cover;
    width: 400px;
    height: 400px;
    border-radius: 20rem;
  }
}

.resume-name {
  display: flex;
  margin: 5rem auto;
  gap: 10rem;
  
  @media (max-width: 1200px) {
    flex-direction: column-reverse;
    gap: 5rem;
  }

  & &-toz {
    display: flex;
    flex-direction: column;
    font-size: 2rem;

    h2 {
      text-align: center;
      font-size: 3rem;
      margin-top: 8rem;
    }

    h4 {
      font-weight: normal;
      color: #616161;
      font-size: 2rem;
      text-align: center;
    }
  }
}

@include contactMe();
.contact-us {
  border-top: 2px solid #e9eaea;
  padding-top: 2rem;
}

.hometown {
  border-top: 2px solid #e9eaea;
  padding-top: 2rem;
  @include size(margin, 0);
  margin-bottom: 5rem;
  display: flex;
  align-items: center;

  & img {
    width: 1.5rem;
    margin-inline: 1rem;
  }

  & span {
    font-size: 1.5rem;
  }
}

.tahsilat {
  @include size(padding,0);

  & .details-tahsilat {
    border: 2px solid #e9eaea;
    border-radius: 20px;
    display: flex;
    margin-block: 2rem;

    & .left-tahsilat {
      width: 20%;
      padding: 1rem;

      & img {
        max-width: 100%;
        object-fit: cover;
        border-radius: 200px;
      }
    }

    & .right-tahsilat {
      width: 80%;
      padding: 1rem;

      & span {
        color: #616161;
      }
    }
  }
}

.savabagh-kar {
  @include size(margin,3rem);
  margin-top: 0;
  padding-top: 1rem;
  border-top: 2px solid #e9eaea;

  & .details-tahsilat {
    border: 2px solid #e9eaea;
    border-radius: 20px;
    display: flex;
    margin-block: 2rem;

    & .left-tahsilat {
      width: 20%;
      padding: 1rem;

      & img {
        max-width: 100%;
        object-fit: cover;
        border-radius: 200px;
      }
    }

    & .right-tahsilat {
      width: 80%;
      padding: 1rem;

      & span {
        color: #616161;
      }
    }
  }
}

.zaban {
  display: flex;
  flex-direction: column;
  gap: 0.05rem;
  margin-block: 5rem;
  @include size(margin,3rem);
  padding-top: 1rem;
  border-top: 2px solid #e9eaea;

  .skill {
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: 1.25rem;
    font-weight: normal;

    & .skill-bar {
      direction: ltr;
      width: 50%;
      height: $height-skill;
      border-radius: 10px;
      background-color: #e9eaea;
      display: flex;

      & .skill-bar-fill {
        background-color: $secondry_color;
        height: $height-skill;
        border-radius: 10px;
      }
    }

    & h3 {
      text-align: left;
      width: 50%;
      font-size: 1.5rem;
      font-family: $inria;
    }
  }
}

.madarek{
  @include size(margin,3rem);
  display: flex;
  flex-direction: column;
  gap: 3rem;
  border-top: 2px solid #e9eaea;
  padding-top: 1rem;
  font-family: $vazir;
  h1{

  }
  & &-tekrar-pazir{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border: 2px solid #e9eaea;
    border-radius: 20px;
    padding: 2rem;
    & span,b,a{
      margin-right: 0.5rem;
    }
    & a{
      direction: ltr;
      color: $secondry_color;
      &:hover{
        color: black;
      }
    }
    & span{
      color: #616161;
      font-size: 0.90rem;
      margin-top: 0.25rem;
    }

  }
}