{% extends 'base.html' %}
{% load static %}
{% load render_partial %}
{% load thumbnail %}
{% block title %}
    عرفان قندی
{% endblock %}
{% block head_attr %}
    <link rel="stylesheet" href="{% static 'SCSS/mainPage.css' %}">
{% endblock %}
{% block content %}
    <div class="container">
        <section>
            {% render_partial 'mainPage.views.header' %}
            <!-- بخش اصلی -->
            <div class="main-element">
                <div class="main-right">
                    <div class="main-right-pic">
                        <img src="{% static 'img/IMG_20250405_204657_874.jpg' %}" alt="{{ person.name }}">
                    </div>
                </div>
                <div class="main-left">
                    <h2> سلام {{ person.name }}<br/> هستم.</h2>
                    <h5>{{ person.occupations }}</h5>
                    <a href="{% url 'resume' %}"><button class="main-left-rezome">رزومه من</button></a>
                </div>
            </div>
            <!-- بخش درباره من -->
            <div class="about-me">
                <h1>درباره من</h1>
                <span>
                {{ person.about_us_text }}
            </span>
            </div>
            <!-- مهارت ها -->
            <div class="skills">
                <h1>مهارت ها</h1>
                {% for skill in skills %}
                    <div class="skill">
                        <div class="skill-bar">
                            <div class="skill-bar-fill" style="width: {{ skill.percent }}%"></div>
                        </div>
                        <h3>{{ skill.name }}</h3>
                    </div>
                {% empty %}
                    <p>هیچ مهارتی وجود ندارد.</p>
                {% endfor %}
            </div>
            <!-- نمونه کار ها -->
            <h1 id="nemone-kar-title">نمونه کار ها</h1>
            <div class="samples">
                {% for sample in samples %}
                    <div class="sample">
                        {% thumbnail sample.image "1280x720" crop="center" quality=80 as im %}
                            <img src="{{ im.url }}" alt="{{ sample.name }}">
                        {% endthumbnail %}
                        <a href="{{ sample.link }}" target="_blank">{{ sample.name }}</a>
                        <p>{{ sample.description }}</p>
                    </div>
                {% empty %}
                    <p>هیچ نمونه کاری وجود ندارد.</p>
                {% endfor %}
            </div>
            <h2 id="contact-me">تماس با من</h2>
            <!-- بخش تماس با من -->
            <div class="contact-us">
                <div class="contact-us-mail">
                    <a href="mailto:{{ contact.mail }}">
                        <img src="{% static 'img/email-svgrepo-com.svg' %}" alt="ایمیل"> <span>{{ contact.mail }}</span>
                    </a>
                </div>
                <div class="contact-us-mail">
                    <a href="{{ contact.telegram_link }}">
                        <img src="{% static 'img/telegram-svgrepo-com.svg' %}" alt="ایمیل"> <span>Telegram</span>
                    </a>
                </div>
            </div>
            {% include 'footer.html' %}
        </section>
    </div>
{% endblock %}